.page-id-21{
    .page-hero{
        text-align: center;
        margin-top: 2rem;;
        svg{
            width: 10rem;        
        }

        .title{
            margin: 2rem;
        }

        .mission{
            margin: 2rem;
            text-align: center;
        }
    }
    
    .stylists-section{
        margin: 7rem 0;
        h2{
            font-size: 2rem;
            text-align: center;
            width: 13rem;
            margin: 0 auto;
        }
        .stylists{
            margin: 2rem 0;
            display: block;
            
            p{
                text-align: center;
                padding: 0 2rem;
            } 
            img{
                width:100%;
                height: 20rem;
                object-fit: cover;
            }
            .one-stylist{
                width: 100%;
                margin: 2rem 0;
                text-align: left;
                h3{
                    text-align: left;
                    font-weight: bold;
                    margin: 0 .5rem;
                }
                p{
                    width: 100%;
                    padding: 0;
                    text-align: left;
                    margin: 0 .5rem;
                   a{
                    color: $color__text-main;
                    text-decoration: none;
                    margin: 0;
                    } 
                }
                a{
                    margin: 0 .5rem;
                    color: $color__background-screen;
                    text-decoration: underline;
                }                
            }
        }      
    }
    .testimonial{
        position: relative;
        top: 2rem;
    }
    .cta{
        height: 15rem;
        background-color: $color__background-accent4;
        .cta-contact,
        .cta-faq{
            position: relative;
            top: 4rem;
            margin-top: 1rem;
        }
    }

    @media screen and (min-width: $mobile){
        .stylists-section{
            .stylists{
                 display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                .one-stylist{ 
                    width: 45%;
                    margin: 2rem 0;
                   
                }           
            }   
        }
    }

    @media screen and (min-width: $tablet){
        .wrapper {
            padding: 0;
        }
        .page-hero{
            display: block;
        }
        .page-title{
            display: flex;
            justify-content: center;
            align-items: center;
            .page-thumbnail{
                width: 50%;
            }
            .page-hero{
                width: 50%;
                text-align: left;
                h1{
                    font-size: 3rem;
                    margin: 0.67rem auto;
                }
                p{
                    text-align: left;
                }
            }
        }
        .stylists-section{
            text-align: center;
            padding: 0 2rem;
            p{
                width: 50%;
                margin: 2rem auto;;
            }
        }
       
        .inner-cta{
            display: flex;
            justify-content: space-around;
            width: 45%;
            margin: 0 auto;
            .cta-solid,
            .cta-hollow{
                margin: .5rem;
            }
            
        }
    }

    @media screen and (min-width: $desktop){
        .page-title{

            h1 {
                width: 24rem;
            }
            .page-hero{
                p{
                    width: 24rem;
                    margin: 0 auto;
                }
            }
        }
        .stylists-section{
            .stylists{
                .one-stylist{
                    width: 23%;
                }
            }           
        }
    }
}
