// Archive Pages (stylist specialisty, blog category)
.archive {
  .site-main {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    a {
      font-family: $font__heading;
      color: $color__text-input;
    }

    .entry-content {
      a {
        color: $color__text-screen;
        font-family: $font__main;
        font-weight: 600;
      }
    }
    img,
    p {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .comments-link {
    display: none;
  }
}
