.contact-info {
  padding: 3rem 1.5rem;

  svg {
    fill: $color__background-base1;
    display: inline-block;
  }

  // each information div wrapper
  .velou-info {
    padding-bottom: 1rem;
    max-width: 400px;
  }

  .velou-hours {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    svg {
      margin-bottom: 3rem;
    }
  }

  // Inline Phone and email information
  .phone-email-wrapper {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;

    .col-left,
    .col-right {
      padding: 0 2rem;
    }
    .phone-email-wrapper {
      padding-top: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 5rem;
    .col-left,
    .col-right {
      padding: 0 5rem;
    }
  }
}

.page-id-37 {
  .cta-hollow {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}

// Forminator Plugin contact form
.contact-form {
  font-family: $font__heading;
  padding: 2rem 1.5rem;
  background-color: $color__background-screen;
  color: $color__background-accent4;

  h2 {
    font-size: 2rem;
  }

  // Form text input
  .forminator-design--flat {
    .forminator-input {
      background-color: $color__background-base3;
      color: $color__background-accent3;
      height: 50px;
    }

    // Form textarea input
    .forminator-textarea {
      background-color: $color__background-base3;
      color: $color__background-accent3;
      height: 300px;
    }
  }

  .forminator-ui#forminator-module-365.forminator-design--flat
    .forminator-button-submit {
    width: 200px;
    padding: 1rem 0;
    font-size: 1.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

// image next to form (desktop view only)
.contact-section {
  .contact-img {
    display: none;
    object-fit: cover;
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    .contact-form {
      padding: 2rem 3.5rem;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    .contact-form {
      padding: 4rem 5.5rem;

      h2 {
        font-size: 2.5rem;
      }
      width: 50%;
    }

    .contact-img {
      display: block;
      float: right;
      width: 50%;
    }
  }
}
