.contact-info {
  padding: 2rem 1.5rem;

  svg {
    fill: $color__background-base1;
    display: inline-block;
  }

  // each information div wrapper
  .velou-info {
    padding-bottom: 1rem;
    max-width: 400px;
  }

  .velou-hours {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    svg {
      margin-bottom: 3rem;
    }
  }

  // Inline Phone and email information
  .phone-email-wrapper {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .cta-hollow {
    margin-bottom: 3rem;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    .col-left,
    .col-right {
      padding: 0 2rem;
    }
  }
  @media screen and (min-width: $desktop) {
    .col-left,
    .col-right {
      padding: 0 5rem;
    }
    .phone-email-wrapper {
      padding-top: 0;
    }
  }
}

// Forminator Plugin contact form
.contact-form {
  font-family: $font__heading;
  padding: 2rem 1.5rem;
  background-color: $color__background-screen;
  color: $color__background-accent4;

  .forminator-ui#forminator-module-365.forminator-design--flat
    .forminator-button-submit {
    width: 200px;
    padding: 1rem 0;
    font-size: 1.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
