.blog {
  .news-list {
    padding-left: 1.5rem;
  }

  .cat-news-list {
    a {
      margin-left: 1.5rem;
      font-family: $font__main;
      color: $color__background-base1;
    }
  }

  .entry-content {
    padding-bottom: 3rem;
  }

  .news-list-title {
    padding: 0 1.5rem;
    color: $color__text-main;
    &:hover {
      text-decoration: underline;
    }
  }
  .read-more {
    color: $color__text-main;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $tablet) {
  .single-blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    .news-list-title {
      font-size: 1.8rem;
    }
    .post-thumbnail-list {
      width: 48%;
      border: 0.1px solid $color__background-accent1;
      margin-bottom: 3rem;
      img {
        max-width: 500px;
        max-height: 300px;
      }
      .entry-content p {
        margin-bottom: 3rem;
      }
    }
  }
}
<<<<<<< Updated upstream
=======
// News Archive Page
.archive.category {
  .site-main {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    a {
      font-family: $font__heading;
      color: $color__text-input;
    }

    .entry-content {
      a {
        color: $color__text-screen;
        font-family: $font__main;
        font-weight: 600;
      }
    }
    img,
    p {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .comments-link {
    display: none;
  }
}
>>>>>>> Stashed changes
