.page-id-106 {
    .services {
        .accordion-menu {

            &:nth-child(1) {
                background-color: #7c857f;
                color: $color__background-base3;

                button {
                    color: $color__background-base3;
                }
            }

            &:nth-child(2) {
                background-color: $color__background-base1;
                color: #fff;
                button {
                    color: #fff;
                }
            }

            &:nth-child(3) {
                background-color: $color__background-accent1;
                color: #464847;
                button {
                    color: #464847;
                }
            }

            &:nth-child(7) {
                background-color: #EAECE9;
                color: #464847;
                button {
                    color: #464847;
                }
            }

            &:nth-child(4) {
                background-color: $color__background-base3;
                color: #63534A;
                button {
                    color: #63534A;
                }
            }

            &:nth-child(5) {
                background-color: $color__background-base2;
            }

            &:nth-child(6) {
                background-color: $color__background-accent3;
                color:#fff;

                button {
                    color: #fff;
                }
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(6) {
                .accordion-header {
                    .acc-icon {
                        content: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.716553' y1='9.5' x2='19.1083' y2='9.5' stroke='white' stroke-linecap='round'/%3E%3Cline x1='9.92273' y1='18.5' x2='9.92273' y2='0.5' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                    }
                }                
            }

            &:nth-child(1) {
                .accordion-header.active {
                    .acc-icon {
                        content: url("data:image/svg+xml,%3Csvg width='20' height='1' viewBox='0 0 20 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.716553' y1='0.5' x2='19.1083' y2='0.5' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                    }
                }                
            }

            .accordion-content {
                .intro {
                    img {
                        width: auto;
                        height: auto;
                        max-height: 450px;
                    }
                }
                
                @media (min-width:$desktopWide) {
                    .intro {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .service-image {
                            display: block;
                        }

                        p {
                            padding: 0 1rem;
                            width: 45%;
                            margin: 0 1rem;
                        }
                    }
                }
            }
        }
    }

    .cta{
        height: 18rem;
        background-color: $color__background-accent4;
        .inner-cta {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: 100%;
            .cta-contact,
            .cta-faq{
                position: relative;
                top: 4rem;
                margin-top: 1rem;
            }
        }        

        @media screen and (min-width: $tablet){
            .inner-cta{
                flex-direction: row;
                width: 25rem;
            }
        }

        @media screen and (min-width: $desktop){            
            .inner-cta{
                flex-direction: row;
                width: 35rem;
            }
        }
    }
}