.page-id-106 {

    .services {
        .accordion-menu {

            &:nth-child(1) {
                background-color: #7c857f;
                color: $color__background-base3;
            }

            &:nth-child(2) {
                background-color: $color__background-base1;
                color: #fff;
            }

            &:nth-child(3) {
                background-color: $color__background-accent1;
                color: #464847;
            }

            &:nth-child(7) {
                background-color: #EAECE9;
                color: #464847;
            }

            &:nth-child(4) {
                background-color: $color__background-base3;
                color: #63534A;
            }

            &:nth-child(5) {
                background-color: $color__background-base2;
            }

            &:nth-child(6) {
                background-color: $color__background-accent3;
                color:#fff;
            }

            .accordion-content {

                .intro {
                    img {
                        width: auto;
                        height: auto;
                        max-height: 450px;
                    }
                }
                

                @media (min-width:$desktopWide) {
                    .intro {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .service-image {
                            // width: 65%;
                            display: block;
                        }

                        p {
                            padding: 0 1rem;
                            width: 45%;
                            margin: 0 1rem;
                        }

                    }
                    
                }
            
                // @media (min-width:$desktopWide) {
                //     padding: 0 4rem;
                //     max-width: 60rem;
                // }
            }
        }
    }

    .cta{
        height: 18rem;
        background-color: $color__background-accent4;
        .inner-cta {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            height: 100%;

            .cta-contact,
            .cta-faq{
                position: relative;
                top: 4rem;
                margin-top: 1rem;
            }
        }
        

        @media screen and (min-width: $tablet){

            .inner-cta{
                flex-direction: row;
                width: 25rem;
            }
        }

        @media screen and (min-width: $desktop){
            
            .inner-cta{
                flex-direction: row;
                width: 35rem;
            }
        }
    }
}