// Single News
.entry-header {
  font-family: $font__heading;
  padding: 0 1.5rem;
  padding-bottom: 1rem;

  a {
    font-weight: 400;
    font-family: $font__main;
    cursor: default;
  }

  .posted-on {
    font-size: 1rem;
  }

  .entry-title {
    padding-top: 1.5rem;
    margin: 0;
  }
}

.entry-content p {
  padding: 0 1.5rem;
}

.return {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 4rem 0;
}

.you-may-like {
  img {
    object-fit: cover;
    width: 400px;
    height: 300px;
  }
}
.home-blog {
  font-family: $font__heading;
  border-top: 2px solid $color__background-accent2;
  border-bottom: 2px solid $color__background-accent2;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  padding-top: 1rem;

  .post-suggestion {
    display: flex;
    justify-content: center;
    position: relative;
    span {
      font-size: 1.5rem;
      position: absolute;
      top: -2.5rem;
      padding: 0 1rem;
      background-color: #fff;
    }
  }

  article {
    display: block;
    text-align: center;
  }

  h3 {
    text-align: center;
    color: $color__text-screen;
    font-family: $font__main;
    font-size: 1rem;
    // font-weight: lighter;
    padding-bottom: 1.25rem;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $tablet) {
  .single-post main,
  .blog main {
    max-width: 1000px;
    margin: 0 auto;

    .entry-header {
      padding: 2rem 1.5rem;
    }

    p {
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .you-may-like {
    display: flex;
    justify-content: space-evenly;

    article {
      padding: 2rem 1rem 1rem;
    }
  }
}

@media screen and (min-width: $desktop) {
  .single-post main {
    .entry-header {
      padding: 2rem 0;
    }
  }
}
