// Single News
.entry-header {
	font-family: $font__heading;
    padding-bottom: 1.5rem;
    .posted-on {
        font-size: 1rem;

    }

}

.home-blog {
    font-family: $font__heading;
    border-top: 2px solid $color__background-accent2;
    border-bottom: 2px solid $color__background-accent2;
    width: 80%;
    margin: 0 auto;


    p {
        text-align: center;
        font-family: $font__main;
        position: relative;
        top: -1.75rem;
    }

    a {
        text-align: center;
        font-family: $font__main;
        font-size: 1rem;
    }
    
}