.page-id-3 {
  .post-3 {
    max-width: $max-width;
    margin: auto;

    .entry-content {
      h2 {
        margin-top: 3rem;
        padding: 0 1.5rem;
      }

      p {
        padding: 0 1.5rem;
      }
    }
  }
}
