.menu-social-menu-container{
    ul{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0rem;
        li{
            margin-right: 1rem;
            svg{
                width:2.5rem;
                height: 2.5rem;
                path{
                    fill: $color__background-screen;
                }
            }
        }
    }
}

.menu-footer-menu-container{
    ul{
        list-style: none;
        text-decoration: underline;
        padding: 0;
        margin: 4rem 0 2rem;
        li{
            vertical-align: text-top;
            margin-right: .5rem;
            
        }
        a{
            color: $color__text-main;
        }
    }
}
@media screen and (min-width: $tablet){
    ul{
        li{
            svg{
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    
    }
}

@media screen and (min-width: $desktop){

}

