.accordion-menu {
    background-color: $color__background-base3;
    margin: 1rem auto;

    .accordion-header {

        h3 {
            font-family: $font__heading;
            font-weight: 400;
            font-size: 1.25rem;
            margin: 0;
            padding: 1rem;
        }

        .acc-icon {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.716553' y1='9.5' x2='19.1083' y2='9.5' stroke='%2363534A' stroke-linecap='round'/%3E%3Cline x1='9.92273' y1='18.5' x2='9.92273' y2='0.5' stroke='%2363534A' stroke-linecap='round'/%3E%3C/svg%3E%0A");

            width: 2rem;
        }
        
    }

    .accordion-header.active {

        .acc-icon {
            content: url("data:image/svg+xml,%3Csvg width='20' height='1' viewBox='0 0 20 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.716553' y1='0.5' x2='19.1083' y2='0.5' stroke='%23464847' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        }
        
    }

    .accordion-content {
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.3s ease-in-out;
    }

    .accordion-content.show {
        transition: max-height 0.3s ease-in-out;
        max-height: 600px;
    }
    
}