.accordion-container {

    margin: 4rem auto;
    padding: 0 2rem;

    @media (min-width: 25em) {
        padding: 0 3rem;
    }

    @media (min-width: $mobile) {
        max-width: 35rem;
    }

    @media (min-width: $tablet) {
        margin: 7rem auto;
        max-width: 40rem;
    }

    @media (min-width:$desktop) {
        margin: 10rem auto;
        max-width: 45rem;
    }

    @media (min-width:$desktopWide) {
        padding: 0 4rem;
        max-width: 60rem;
    }


    .accordion-menu {
        background-color: $color__background-base3;
        margin: 2rem auto;
    
        @media (min-width: $tablet) {
            margin: 2.5rem auto;
        }
    
        @media (min-width:$desktop) {
            margin: 3rem auto;
        }
    
        .accordion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: box-shadow 0.2s ease-in-out;
            background-color: transparent;
            outline:none;
            border: none;
            width: 100%;            

            &:hover {
                box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.2);
            }
            
    
            h3 {
                font-family: $font__heading;
                font-weight: 400;
                font-size: 1.25rem;
                margin: 0;
                padding: .75rem 1rem;
                text-align: left;
                line-height: 1.3;
            }
    
            .acc-icon {
                margin: .5rem 1rem;
                content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.716553' y1='9.5' x2='19.1083' y2='9.5' stroke='%2363534A' stroke-linecap='round'/%3E%3Cline x1='9.92273' y1='18.5' x2='9.92273' y2='0.5' stroke='%2363534A' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    
            }
        
            @media (min-width: $tablet) {
                h3 {
                    font-size: 1.5rem;
                    padding: .75rem 1.5rem;
                }
                .acc-icon {
                    margin: .5rem 1.5rem;
                    width: 1.375rem;
                }
            }
        
            @media (min-width:$desktop) {
                h3 {
                    font-size: 1.75rem;
                    padding: 1rem 2rem;
                }
                .acc-icon {
                    margin: .75rem 2rem;
                    width: 1.675rem;
                }
            }
            
        }
    
        .accordion-header.active {
    
            .acc-icon {
                content: url("data:image/svg+xml,%3Csvg width='20' height='1' viewBox='0 0 20 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.716553' y1='0.5' x2='19.1083' y2='0.5' stroke='%23464847' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }
            
        }
    
        .accordion-content {
            padding: 0 1rem;
            overflow: hidden;
            max-height: 0px;
            transition: all 0.3s ease-in-out;

            img {
                display: block;
                margin: 1rem auto;
            }

            p, table {
                margin: 2rem auto 3rem;
            }

            table {
                caption {
                    font-family: $font__heading;
                    font-size: 1.125rem;
                    text-align: left;
                    margin-bottom: 1rem;
                }

                th {
                    text-align: left;
                    font-weight: 300;
                    font-size: .9rem;
                    text-transform: uppercase;
                }

                .price-field {
                    text-align: right;
                }
            }

            @media (min-width: $tablet) {
                padding: 0 1.5rem;

                p, table {
                    font-size: 1.1rem;
                }

                table {
                    caption {
                        font-size: 1.25rem;
                    }

                    th {
                        font-size: 1rem;
                    }
                }
            }

            @media (min-width: $desktop) {
                padding: 0 2rem;

                table {
                    font-size: 1.125rem;
                }

                table {
                    caption {
                        font-size: 1.5rem;
                    }

                    th {
                        font-size: 1.1rem;
                    }

                }
            }

        }
    
        .accordion-content.show {
            transition: all 0.3s ease-in-out;
            max-height: 3000px;
        }
        
    }
}
