// page-gallery.php styling

.filter-div {
  float: left;
  text-align: center;
  display: none;
  overflow: hidden;
}

.filter-div:hover img {
  transform: scale(1.1);
  cursor: pointer;
  overflow: hidden;
  filter: grayscale(100%);
}

.filter-div img {
  width: 300px;
  height: 300px;
  transition: 0.5s all ease-in-out;
}

.show {
  display: block;
}

// Gallery Page overall layout
// .page-id-111 {
// }

.filter-container {
  // grid-container
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 300px);
  grid-gap: 0.3rem;

  @media screen and (min-width: $desktop) {
    padding: 0;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
  }
}

// Lightbox feature
