// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// CTA style
@mixin cta {
  text-align: center;
  font-family: $font__heading;
  letter-spacing: 2px;
  padding: 0.7rem 1rem;
  width: 10rem;
  font-size: 1rem;
  transition: 0.4s ease-in-out;
  cursor: pointer;

  a {
    font-family: $font__heading;
  }
}

// CTA hover (Book Now)
@mixin cta-hover {
  border: 2px solid $color__button1;
  background-color: $color__button1;
  a {
    color: $color__button-text2;
  }
}

// Media Queries
// $tablet, $desktop, $desktopWide (_structure.scss)
@mixin mq($w) {
  @media (min-width: em($w)) {
    @content;
  }
}
