button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  line-height: 1;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: $font__heading;
}

// page-gallery.php filter buttons
.filter-btn {
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  border: 1px solid $color__button2;
  color: $color__button-text1;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    background-color: $color__button3;
    color: $color__button-text2;
    border: 1px solid $color__button3;
  }
}

.filter-btn.active {
  background-color: $color__button2;
  color: $color__button-text2;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $color__button2;
  }
}
