.site-header {

    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.6);
    z-index: 9;

    .site-branding {
        order: 2;
        width: 50%;

        .custom-logo-link {
            margin: 1.75rem auto 1.5rem;
            display: block;
            width: 7rem;
            position: relative;
            z-index: 10;
            img {
                width: 4rem;
                display: block;
                margin: auto;
            }
        }
    }

    #site-navigation {
        width: 25%;
        position: relative;
        
        
        .menu-toggle {
            background-color: transparent;
            border: none;
            margin: 1rem;
            padding: .8rem .8rem .5rem;
            position: relative;
            z-index: 10;

            svg {
                line {
                    fill: $color__text-input;
                }
               
            }
        }
    }

    .cart-btn {
        position: absolute;
        right: 2rem;
        top: 1.9rem;

        a {
            display: block;
            line-height: 1;

            svg {
                path {
                    fill: $color__text-main;
                    fill: $color__background-base1;
                }
            }
        }
    }

    @media (min-width: $tablet) {
        justify-content: center;

        #site-navigation {
            width: 0%;
        }

        .site-branding {
            width: 100%;
        }

        .cart-btn {
            a {
                svg {
                    transform: scale(1.125);
                }
            }
        }
    }

    @media (min-width: 45em) {
        .cart-btn {
            right: 2.25rem;

            a {
                svg {
                    transform: scale(1.25);
                }
            }
        }
    }

    @media screen and (min-width: 60em) {
        .site-branding {    
            .custom-logo-link {

                img {
                    width: 4.5rem;
                    display: block;
                    margin: auto;
                }
            }
        }

        .cart-btn {
            right: 3rem;
            top: 2.05rem;
        }
    }

    @media screen and (min-width: 67.5em) {
        .site-branding {    
            .custom-logo-link {
                margin: 2rem auto 1.75rem;

                img {
                    width: 5rem;
                }
            }
        }

        .cart-btn {
            right: 5rem;
            top: 2.6rem;

            a {
                svg {
                    transform: scale(1.375);
                }
            }
        }
    }

    @media screen and (min-width: 100em) {
        .site-branding {    
            .custom-logo-link {
                margin: 2rem auto 1.75rem;

                img {
                    width: 6rem;
                }
            }
        }
    }
}