.site-header {

    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.6);
    z-index: 9;

    .site-branding {
        order: 2;
        width: 50%;

        .custom-logo-link {
            margin: 1.75rem auto 1.5rem;
            display: block;
            width: 7rem;
            position: relative;
            z-index: 10;
            img {
                width: 4rem;
                display: block;
                margin: auto;
            }
        }
    }

    #site-navigation {
        width: 25%;
        position: relative;
        
        
        .menu-toggle {
            background-color: transparent;
            border: none;
            margin: 1rem;
            padding: .8rem .8rem .5rem;
            position: relative;
            z-index: 10;

            svg {
                line {
                    fill: $color__text-input;
                }
               
            }
        }
    }

    @media (min-width: 37em) {
        justify-content: center;

        #site-navigation {
            width: 0%;
        }

        .site-branding {
            width: 100%;
        }
    }

    @media screen and (min-width: 60em) {
        .site-branding {    
            .custom-logo-link {

                img {
                    width: 4.5rem;
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    @media screen and (min-width: 67.5em) {
        .site-branding {    
            .custom-logo-link {
                margin: 2rem auto 1.75rem;

                img {
                    width: 5rem;
                }
            }
        }
    }

    @media screen and (min-width: 100em) {
        .site-branding {    
            .custom-logo-link {
                margin: 2rem auto 1.75rem;

                img {
                    width: 6rem;
                }
            }
        }
    }
}