a {
  text-decoration: none;
  color: $color__text-main;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

// Book Now button on every page
.cta-book-now {
  position: fixed;
  text-align: center;
  background-color: $color__button2;
  font-family: $font__heading;
  font-size: 1.2rem;
  width: 120px;
  height: 2.2rem;
  border-radius: 10px 10px 0 0;
  bottom: 50px;
  right: -45px;
  transform: rotate(270deg);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  color: $color__button-text2;

  &:hover,
  &:focus,
  &:active {
    @include cta-hover;
    border: none;
  }
  &:visited,   
  &:focus,
  &:active {
      color: $color__button-text2;
  }
  &:hover{
    background-color: $color__button1;
    color: $color__link-hover;
    border: 2px solid $color__background-accent3;
  }
}

.cta-hollow {
  @include cta;
  margin: 0 auto;
  color: $color__button-text1;
  border: 2px solid $color__button2;
  
  &:visited {color:$color__button2;} /* Visited link    */
  &:hover {color: $color__button-text2;}   /* Mouse over link */
  &:active {color:$color__button2;}  /* Selected link   */

  &:hover,
  &:focus,
  &:active {
    @include cta-hover;
  }
}

.cta-solid {
  @include cta;
  margin: 0 auto;
  background-color: $color__button2;
  padding: 0.8rem 1rem;

  &:visited,   
  &:focus,
  &:active {
      color: $color__button-text2;
  }
  &:hover{
    background-color: transparent;
    color: $color__button2;
    border: 2px solid $color__background-accent3;
  }
}
