a {
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

// .solid-btn-green .hollow-btn-green

.cta-Book-now {
  background-color: $color__button2;
  font-family: $font__heading;
  font-size: 1.2rem;
  width: 120px;
  height: 2.2rem;
  text-align: center;

  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 50px;
  right: -45px;
  transform: rotate(270deg);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 99;
  a {
    color: $color__button-text2;
  }
}
