$color__background-body: #fff;
$color__background-screen: #9ba59e;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-button: #ccc;

// Velou Colour Pallette
$color__background-base1: #9ba59e;
$color__background-base2: #d2c7c1;
$color__background-base3: #ede8e5;
$color__background-accent1: #d0d4d0;
$color__background-accent2: #eddcd2;
$color__background-accent3: #b6a59c;
$color__background-accent4: #fafafa;
$color__button1: #beb0a8;
$color__button2: #9ba59e;
$color__button3: #d0d4d0;
$color__button-text1: #9ba59e;
$color__button-text2: #ffffff;

$color__text-screen: #21759b;
$color__text-input: #4a4745;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #4a4745;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__hover-focus: #737a75;
