$color__background-body: #fff;
$color__background-screen: #9BA59E;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-button: #ccc;

// Velou Colour Pallette
$color__background-base1: #9BA59E;
$color__background-base2: #D2C7C1;
$color__background-base3: #EDE8E5;
$color__background-accent1: #D0D4D0;
$color__background-accent2: #EDDCD2;
$color__background-accent3: #B6A59C;
$color__background-accent4: #FAFAFA;
$color__button1: #BEB0A8;
$color__button2: #9BA59E;
$color__button3: #D0D4D0;
$color__button-text1: #9BA59E;
$color__button-text2: #FFFFFF;

$color__text-screen: #21759b;
$color__text-input: #4A4745;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #4A4745;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
