.testimonial {
    position: relative;    
    width: 100%;
    margin: 2rem auto;
    .block{
        background-color: #D0D4D0;
        width: 80%;
        height: 20rem;
        position: relative;
        left: 0;
        .quote{
            position: relative;
            font-size: 7rem;
            left: 1rem;
            top:-1rem;
            color: white;
            font-family: $font__heading;
            font-style: italic;
            
        }

        .testimonial-title{
            position: relative;
            color: $color__text-main;
            font-family: $font__heading;
            top: -5rem;
            left: 5rem;
            font-size: 1.7rem;
            font-weight: 400;
        }
    }
    svg{
        margin: 2rem;
       
        path{ 
            width:3rem;
            fill: white;
        }
        
    }
   .swiper-wrapper{
       height:auto;
   }

    .swiper-container{
        position: relative;
        top: -13rem;
        right: 0;
        z-index: 1000;
        background-color: #FAFAFA;
        width: 80%;
        margin-right: 0;
    }

    blockquote {
        width: 70%;
        left: 4rem;        
        position: relative;
        z-index: 99;
        overflow: hidden;
    }

    .wp-block-quote {
        position: relative;
        left: -.5rem;
        margin: 10px;
        border-left: none;
        // height: 15rem;
        p{
        font-style: italic;
        width: auto;
        }
        cite{
            float: right;
            font-weight: bold;
        }
    }

    .swiper-slide

    .swiper-pagination{
        position: relative;
        left: -4rem;
       
    }   
    .swiper-pagination-bullet{
        position: relative;
        left: -3rem;
        top: 50%;
        width:15px;
        height: 15px;
    } 
    .swiper-button-next{
        font-size: 1rem;
    }

    @media screen and (min-width: $tablet){
        .testimonial-title{
            margin: 0 auto;
        }
        .block{
            h2{
                width: 20rem;
                margin: 0 auto;
            }
           
        }
    }


}

    

